

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.container {
	position: relative;
}
#video {
	width: 100%;
	z-index: 1;
}

#messages {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 10%;
	z-index: 3;
}
#messages p {
	width: 100%;
	padding: 20px 0;
	background-color: rgba(255, 255, 255, 0.8);
	font: bold 26px Arial;
	text-align: center;
}
#warning {
	color: red;
}
#hint, #answers {
	color: #000;
}
#messages #answers {
	font-size: 16px;
	font-weight: 400;
}
#messages #answers .bold {
	font-weight: bold;
}